{% extends 'base.html' %}
{% block head_title %}Todo List{% endblock %}
{% block content %}
    {% if todo_list %}
        <h1 class="text-center">Todo List</h1>
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th class="text-center">Status</th>
                <th class="text-center">Date Created</th>
                <th class="text-center">Date Due</th>
                <th colspan="3" class="text-center"><a href="{% url 'todos:new' %}">Add a Todo</a></th>
            </tr>
            </thead>
            <tbody>
            {% for todo in todo_list %}
                <tr class="table-{% if todo.completed %}success{% elif todo.due_today %}warning{% elif todo.overdue %}danger{% else %}transparent{% endif %}">
                    <td>{{ todo.title }}</td>
                    <td class="text-center">{{ todo.completed|yesno:"Completed,Incomplete" }}</td>
                    <td class="text-center">{{ todo.created }}</td>
                    <td class="text-center">{{ todo.due }}</td>
                    <td class="text-center"><a href="{% url 'todos:delete' todo.id %}">Delete</a></td>
                    <td class="text-center"><a href="{% url 'todos:edit' todo.id %}">Edit</a></td>
                    <td class="text-center"><a href="{% url 'todos:detail' todo.id %}">View</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1>Nothing to do!</h1>
        <a href="{% url 'todos:new' %}">Create a new todo</a>
    {% endif %}
{% endblock %}